.header{
    display: flex;
    height: 100vh;
    width: 100%;
}

.cta{
    margin: auto;
    background-color: royalblue;
    color: #fff;
    text-decoration: none;
    padding: 1.2em 3em;
    border-radius: .6em;
    border: 3px solid #204ac8;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;

    --opacity: 0;
    --pointer: none;
    

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}

.hidden{
    --opacity: 1;
    --pointer: unset;
}

.modalContainer{
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 1em;
    padding: 2.5em 1.5em;
    text-align: center;
    overflow: hidden;

}

.modalImg{
    width: 100%;
    display: block;
}

.modalPicture{
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;
}

.modalTitle{
    font-size: 2.5rem;
    font-weight: 500;
}

.modalTitleBold{
    font-weight: 700;
    margin-left: 10px;
}

.modalParagraph{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.modalClose{
    display: inline-block;
    border: 1px solid;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    border-radius: .4em;
}

@media (max-width:600px){
    .modalTitle{
        font-size: 1.7rem;
    }
}